<!-- templates/layout.html -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- use wrapped fragment syntax to avoid deprecation -->
    <title th:replace="~{fragments/header :: head('OTMAV')}">OTMAV</title>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>

<main class="container">
    <div th:fragment="content"></div>
</main>

<div th:replace="~{fragments/footer :: mainFooter}"></div>
</body>
</html>
