<!-- src/main/resources/templates/auth/login.html -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head('Login')}"></head>
<body>
<div th:replace="~{fragments/header :: mainHeader}"></div>

<div class="container mt-4">
    <h2>Entrar</h2>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

    <script th:if="${error}">
        /*<![CDATA[*/
        alert([[${error}]]);
        /*]]>*/
    </script>

    <form th:action="@{/login}" method="post" autocomplete="on">

        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />


        <input type="hidden" name="redirectTo" th:value="${redirectTo}" th:if="${redirectTo != null}" />

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="email" class="form-control" required autocomplete="email"
                   th:value="${loginDto != null} ? ${loginDto.email} : ''"/>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input id="password" name="password" type="password" class="form-control" required autocomplete="current-password" />
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
</body>
</html>
