<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: head('Região')}"></head>
<body>
<div th:replace="~{fragments/header :: mainHeader}"></div>

<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Detalhes da Região</h1>
        <div>
            <a class="btn btn-secondary" th:href="@{/regioes}">Voltar</a>
            <a class="btn btn-primary" th:href="@{|/regioes/${regiao.id}/edit|}">Editar</a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9" th:text="${regiao.id}">1</dd>

                <dt class="col-sm-3">Localização (WKT)</dt>
                <dd class="col-sm-9">
                    <pre th:text="${regiao.localizacao != null ? regiao.localizacao : '-'}" style="white-space:pre-wrap;"></pre>
                </dd>

                <dt class="col-sm-3">Área</dt>
                <dd class="col-sm-9" th:text="${regiao.area}">123.45</dd>
            </dl>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: mainFooter}"></div>
</body>
</html>
